* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    font-family: "Montserrat";
    color: hsl(228, 12%, 48%);
    font-size: 14px;

}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    width: 610px;
    height: 457px;
    border-radius: 15px;
    overflow: hidden;
}

.image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;

}

.info {
    margin: 35px;
}

.header {
    letter-spacing: 4px;
}

.name {
    line-height: 1;
    font-size: 35px;
    font-family: "Fraunces";
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    margin: 20px 0px;
}

p {
    line-height: 1.6;
}

.prices {
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.new {
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 35px;
    color: hsl(158, 36%, 37%);
    margin-right: 15px;
}

.old {
    text-decoration: line-through;
}

.button {
    background-color: hsl(158, 36%, 37%);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: white;
    transition: .1s;
}

.button img {
    margin-right: 10px;
}

.button:hover {
    background-color: hsl(156, 36%, 17%);
    cursor: pointer;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    position: fixed;
    bottom: -40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 100%;
    transition: .2s;
}
.attribution a { color: hsl(228, 45%, 44%); }

.container:hover + .attribution, .attribution:hover{
    bottom: 0;
}

@media (max-width: 768px) {
    .card {
        grid-template-columns: 1fr;
        grid-template-rows: 47% 53%;
        height: 95vh;
        width: 92%;
    }

    .info {
        margin: 20px;
    }

    .header {
        font-size: 12px;
    }

    .name {
        margin: 15px 0px;

    }

    .prices {
        margin: 15px 0;

    }
}

@media (max-width: 425px) {
    .card {
        grid-template-rows: 40% 60%;
    }

}